/* src/components/BookInfoDisplay.css */
.book-info-container {
    padding: 25px 20px;
    margin-top: 10px;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.book-info-title {
  text-align: center;
  color: var(--text-color); 
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 10px;
}
