/* src/components/BookInfoDisplay.css */
.book-info-container {
    padding: 25px 20px;
    margin-top: 10px;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.book-info-title {
  text-align: center;
  color: #495057; 
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 1.5em;
  font-weight: 500;
  border-bottom: 1px solid #dee2e6;
  padding-bottom: 10px;
}
