.floating-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(236, 235, 235, 0.9); /* Add a semi-transparent white background */
  padding: 8px;
  text-align: center;
  z-index: 100; /* Ensure it stays on top of other elements */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle shadow */
  display: flex;
  justify-content: space-around;
  background-color: var(--card-background);
  color: var(--text-color);
  border-bottom: 1px solid var(--border-color);
}

.floating-nav span {
  font-size: 1em;
  font-weight: bold;
}
