.random-verse-button {
  background-color: #4ac573; /* Bootstrap primary blue */
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.3);
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

.random-verse-button:hover {
  background-color: #2b7a46;
}
